.app {
  padding: 20px;
  display: grid;
  grid-template-columns: 15% 83%;
  gap: 20px;
}

.app a {
  text-decoration: none;
  color: whitesmoke;
}

.app ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

